#experian {
  margin-right: 20px;
  margin-top: 30px;
  background-color: #A9B388;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#FBF6EE, #FFB534);

}

#experian h2 {
  margin-left: 220px;
}

#experian input {
  width: 80%;
  border-radius: 20px;
  padding: 6px;
  margin-left: 60px;

}

#experian form {
  display:flex;
  flex-direction:column;
  gap:10px;
}

#position {
  margin-left: 20px;
}

