header {
    background-color: #5F6F52;;
    padding: 20px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#000000, #000000);
  }
  
  .cv-title {
    font-size: 24px;
    color: #FEFAE0;
    margin: 0;
  }