.skills-container {
    background-color: #FBF6EE;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#FBF6EE, #FFB534);
}

.skills-container h2 {
    margin-left: 220px;
}

.skills-container input {
    width: 70%;
    padding: 3px;
    border-radius: 20px;

}

.skills-container form {
    display:flex;
    flex-direction: column;
    gap:10px;
}

#button-skills {
    border-radius: 20px;
    width: 60%;
    padding: 3px;
    margin-top: 10px;
    margin-left: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#FBF6EE, #FFB534);
}